<header class="brand-header">
  <div class="brand-left">
    <img class="logo-img" src="assets/icons/logoKunini.webp" alt="Kunini logo" />
    <div class="brand-text">
      <span class="brand-name text-gray-700 ">Management System</span>
      <!-- <span class="brand-tagline">Hybrid &amp; Grid-Tied Systems — Thailand</span> -->
    </div>
  </div>
  <div class="brand-right">
    <a class="solar-guide-link" [routerLink]="'/dashboard'">
      Dashboard
    </a>
    <a class="solar-guide-link" [routerLink]="'/workflow'">
      Workflow
    </a>
    <a class="solar-guide-link">
      <i class="pi pi-bell"></i>
    </a>
    <a class="solar-guide-link">
      <i class="pi pi-cog"></i>
    </a>
    <a class="solar-guide-link cursor-pointer"  tooltipPosition="bottom"  [pTooltip]="'Logout'" (click)="logout()" [class.opacity-50]="isLoggingOut" [attr.aria-disabled]="isLoggingOut">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
</header>