.k-body {
  background: transparent;
  width: 100vw;
  height: calc(100vh - 55.2px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
